.cont{
    width: 700px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#main-logo {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
}

#my-btn-block{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#twitter-connected-alert{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.events-list{
    list-style-type: none;
}

.event-list-item{
    width: 45%;
}

#create-event-form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#comment-item{
    background-color: rgb(238, 246, 249);
}

#content{
    display: inline;
    width: initial;
}

#commentContent{
    display: inline;
    width: initial;
}