<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${twitterProfile.name}">Dashboard</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<div class="cont">
    <div class="main-header" id="main-logo">Partytura</div>

    <div class="sub-cont">
        <h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>

        <h4>These are your upcoming events:</h4>

        <ul th:each="event:${user.joinedEvents}">
            <li>
                <a th:href="@{~/event/{id}(id=${event.id})}"><span th:text="${event.eventName}">Event</span></a>
            </li>
        </ul>

        <h4>These are your followed institutions:</h4>
        <ul>
            <li th:each="institution:${user.followedInstitutions}" th:text="${institution.username}">Event</li>
        </ul>
    </div>
    <hr/>
    <footer>© Partytura team</footer>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="vendor/jquery-1.10.2.min.js"><\/script>')</script>-->
</body>
</html>