<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${event.eventName}">Event</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>

<div class="cont">
    <div class="main-header" id="main-logo">Partytura</div>
    <a href="/" class="btn btn-default" role="button"><span class="text-muted">Back to dashboard</span></a>

    <div class="sub-cont">

        <h3><span th:text="${event.eventName}">Event</span></h3>

        <table class="table table-bordered">
            <tr>
                <td class="text-muted">Hashtag</td>
                <td><span th:text="${event.hashtag}"></span></td>
            </tr>
            <tr>
                <td class="text-muted">Date</td>
                <td><span th:text="${event.dateTime}"></span></td>
            </tr>
            <tr>
                <td class="text-muted">Location</td>
                <td><span th:text="${event.location.location}"></span></td>
            </tr>
        </table>

        <h4>Posts: </h4>
        <div class="list-group">
            <ul th:each="post:${event.posts}" class="events-list">
                <li>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading"><span th:text="${post.content}"></span></h4>
                        <p class="list-group-item-text"><span th:text="${post.author.username}"></span></p>
                        <p class="list-group-item-text"><span th:text="${post.dateTime}"></span></p>
                        <br/>
                        <div class="list-group">
                            <ul th:each="comment:${post.comments}" class="events-list">
                                <li>
                                    <div class="list-group-item" id="comment-item">
                                        <h4 class="list-group-item-heading"><span th:text="${comment.content}"></span>
                                        </h4>
                                        <p class="list-group-item-text"><span
                                                th:text="${comment.author.username}"></span></p>
                                        <p class="list-group-item-text"><span th:text="${comment.dateTime}"></span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <form action="#"
                              th:action="@{/event/{eventId}/post/{postId}/newComment(eventId=${event.id}, postId=${post.id})}"
                              th:object="${comment}" method="post">
                            <input type="text" class="form-control" id="commentContent" name="content"
                                   th:value="*{content}"/>
                            <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>

        <form action="#" th:action="@{/event/{eventId}/newPost(eventId=${event.id})}" th:object="${post}" method="post">
            <input type="text" class="form-control" id="content" name="content" th:value="*{content}"/>
            <button type="submit" class="btn btn-primary btn-sm">Post</button>
        </form>

    </div>
    <hr/>
    <footer>© Partytura team</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="vendor/jquery-1.10.2.min.js"><\/script>')</script>-->
</body>
</html>