<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${user.username}">Dashboard</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<div class="cont">
    <div class="main-header" id="main-logo">Partytura</div>

    <div class="sub-cont">

        <h3>Hello, <span th:text="${user.username}">Some User</span>!</h3>

        <h4>These are your upcoming events:</h4>
        <div class="list-group">
            <ul th:each="event:${user.createdEvents}" class="events-list">
                <li class="event-list-item">
                    <a th:href="@{~/event/{id}(id=${event.id})}" class="list-group-item">
                        <h4 class="list-group-item-heading"><span th:text="${event.eventName}">Event</span></h4>
                        <p class="list-group-item-text"><span th:text="${event.hashtag}">#hashtag</span></p>
                        <p class="list-group-item-text"><span th:text="${event.location.location}">location</span>, <span th:text="${event.dateTime}">date</span></p>
                    </a>
                </li>
            </ul>
        </div>
        <a class="btn btn-primary" th:href="@{~/createEvent}" role="button">Create event</a>

        <br/>
        <br/>
        <form th:action="@{/signout}" method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button  class="btn btn-primary btn-sm">Sign Out</button>
        </form>

    </div>

    <hr/>
    <footer>© Partytura team</footer>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="vendor/jquery-1.10.2.min.js"><\/script>')</script>-->
</body>
</html>