<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Partytura</title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" th:href="@{/css/normalize.css}"/>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>

<div class="cont">
	<div class="main-header" id="main-logo">Partytura</div>

	<div class="sub-cont">

		<form name="signup" id="signup" th:action="@{/signup}" method="POST">
			<input type="text" readonly="readonly" name="username" th:value="${form.username}"/>

			<select name="type">
				<option th:each="t : ${types}" th:value="${t}" th:text="${t}"></option>
			</select>
			<input type="image" th:src="@{/social/twitter/sign-in-with-twitter-gray.png}"/>
		</form>

	</div>
	<hr/>
	<footer>© Partytura team</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
