<h1>
    THIS IS SINGLE PAGE APP
</h1>
<!--
<h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>

<h4>These are your upcoming events:</h4>
&lt;!&ndash;<ul>
    <li th:each="friend:${friends}" th:text="${friend.name}">Friend</li>
</ul>&ndash;&gt;
<ul th:each="event:${attender.joinedEvents}">
    <li>
        <a th:href="@{~/event/{id}(id=${event.id})}"><span th:text="${event.eventName}">Event</span></a>
    </li>
</ul>

<h4>These are your followed institutions:</h4>
<ul>
    <li th:each="institution:${attender.followedInstitutions}" th:text="${institution.username}">Event</li>
</ul>-->
