<h3><span><%=event.eventName %></span>!</h3>

<div class="cont">

    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading"><%= event.eventName %> #<%= event.hashtag %></h4>
            <p class="list-group-item-text"> <%= event.location.location %> </p>
        </a>
    </div>
<!--    <div class="list-group" id="posts">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading"><%= event.eventName %> #<%= event.hashtag %></h4>
            <p class="list-group-item-text"> <%= event.location.location %> </p>
        </a>
    </div>-->

</div>