<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Partytura</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>

<div class="cont">
    <div class="main-header" id="main-logo">Partytura</div>

    <h3>Connected to Twitter</h3>

    <div class="alert alert-success" role="alert" id="twitter-connected-alert">
        You are now connected to your Twitter account.
        Click <a href="/" class="alert-link">here</a> to see your dashboard.
    </div>

    <form id="disconnect" method="POST">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <div class="formInfo">
            <p>
                Partytura is connected to your Twitter account.
                Click the button if you wish to disconnect.
            </p>
        </div>
        <button class="btn btn-primary btn-sm btn-block" type="submit">Disconnect</button>
        <input type="hidden" name="_method" value="delete" />
    </form>

    <hr/>
    <footer>© Partytura team</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>-->
</body>
</html>